body{

    background-color:
     gray;

}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(60, 122, 255);
    color: white;
    text-align: center;
 }
 .ora{
    background-color: rgb(231, 1, 39);
 }
 .menu{
   text-align: center;
   
 }
